doctype
html
  head
    title Classic EQ Mapper
    style.
      body,
      main {
        background: #000;
      }
  body
    main
    script(src='/socket.io/socket.io.js')
    script(src='/build/bundle.js')
