:host
  background black
  color white
  & > div
    padding 1em
    box-sizing border-box

.top
  display grid
  grid-auto-flow column
  grid-gap 1em
  width 400px
  padding 0 1em 1em
  box-sizing border-box

.log
  padding 0 0 .5em
  font-size .875em
  min-height 26px

.canvases
  position relative
  height 100vh

canvas
  position absolute
  top 0
  left 0
